*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}
h1 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    padding: 20px;
    text-align: center;
}
h2 {
    font-size: 20px;
    font-weight: 600;
    color: #555;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    color: #777;
}

.win {
    font-size: 42px;
    font-weight: 900;
    color: green;
}

.lose {
    font-size: 42px;
    font-weight: 900;
    color: red;
}

.tie {
    font-size: 42px; 
    font-weight: 900; 
    color: orange;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

div button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}


#rounds {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #007BFF;
    margin: 5px;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
}
.controls {
    text-align: center;
    margin-bottom: 20px;
}
#choices {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 90%;
}

#choices > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

#choices > div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.hidden {
    display: none;
}
#output {
    width: 100%;
}



.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.msg {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal, Vertical, Blur, Color */
}
.rock {
    color: #FF5733;
}
.paper {
    color: #0d8022;
}
.scissors {
    color: #3357FF;
}

.description {
    font-size: 18px;
    color: #666;
    text-align: center;
}